---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import SectionTitle from "../components/SectionTitle.astro";
import { persona } from "../persona";
import List from "../components/List.astro";
import ListItem from "../components/ListItem.astro";
import Section from "../components/Section.astro";
import InlineLink from "../components/InlineLink.astro";
const fullName = persona.firstName + " " + persona.secondName;
---

<Layout title={fullName} desc={persona.description}>
  <Header title={fullName} description={persona.description} />
  <Section>
    <SectionTitle title="Now" />
        <p class="text-base text-l/secondary dark:text-d/secondary">See my <InlineLink text="now page" url="/now" />.</p>
    <SectionTitle title="Experience" />
    <List>
      {
        persona.sections.experience.map((e) => (
          <ListItem title={e.title} desc={e.desc} url={e.url} />
        ))
      }
    </List>
  </Section>
</Layout>
