---
interface Props {
  title: string;
  desc: string;
  url?: string;
}

const { title, desc, url } = Astro.props;
---

<p class="flex w-full items-start justify-start text-base">
  {
    url ? (
      <a
        href={url}
        target="_blank"
        class="group outline-none hover:bg-l/primary hover:text-l/primary hover:after:text-l/primary focus-visible:bg-l/primary focus-visible:text-l/primary focus-visible:after:text-l/primary 
      dark:hover:bg-d/primary dark:hover:text-d/primary dark:hover:after:text-d/primary dark:focus-visible:bg-d/primary dark:focus-visible:text-d/primary dark:focus-visible:after:text-d/primary"
      >
        <span
          class="text-l/secondary group-hover:text-d/primary group-focus-visible:text-d/primary dark:text-d/secondary
        dark:group-hover:text-l/primary dark:group-focus-visible:text-l/primary"
        >
          {title}
        </span>
        <span class="text-l/tertiary dark:text-d/tertiary"> — </span>
        <span class="text-l/tertiary dark:text-d/tertiary">{desc}</span>
      </a>
    ) : (
      <>
        <span class="focus text-l/secondary dark:text-d/secondary">
          {title}
        </span>
        <span class="text-l/tertiary dark:text-d/tertiary"> — </span>
        <span class="text-l/tertiary dark:text-d/tertiary">{desc}</span>
      </>
    )
  }
</p>
